<form [formGroup]="form"
      (ngSubmit)="addComment()">
  <div class="form-dialog-container">
    <h2 mat-dialog-title>Dodaj komentarz</h2>

    <div mat-dialog-content>

      <app-form-input [fieldRef]="form.get('author')"
                      label="Nick"></app-form-input>
      <label for="rate">Ocena</label>
      <bar-rating [formControl]="$any(form.get('rate'))"
                  [max]="5"
                  id="rate"
                  [theme]="'fontawesome-o'"></bar-rating>
      <app-form-input [fieldRef]="form.get('content')"
                      [inputType]="InputType.TEXTAREA"
                      label="Komentarz"></app-form-input>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button
              style="float: right; position: relative"
              color="accent"
              type="submit">
        <i class=" feather-check"></i>
        Dodaj
      </button>
    </div>
  </div>
</form>
