table {
  width: 100%;

  tr td {
    font-size: 16px !important;

    &.price {
      font-size: 18px !important;
      font-weight: bold;
    }
  }

  .mat-footer-row {
    font-weight: bold;
  }
}

.row-action-container > button {
  margin: 10px 0;
  width: 180px;
  text-align: left;
}

.add-product-btn {
  display: flex;
  width: 180px;

  button.icon-btn {
    flex: 1;
    margin: 0;
    padding: 0;
    min-width: 30px;
  }

  input {
    width: 30px;
    text-align: center;
    font-size: 18px;
    margin-right: -12px
  }
}
