<app-search-panel (search)="search($event)"></app-search-panel>

<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Sortuj według:</th>
    <td mat-cell *matCellDef="let element">
      <img src="assets/img/example.jpg" alt="placeholder">
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Produkt</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Cena</th>
    <td mat-cell *matCellDef="let element"
        class="price"> {{element.price | currency:'PLN'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"
        class="row-action-container">
      <button mat-raised-button color="accent"
              (click)="goToDetails(element.id)">
        <i class="feather-arrow-up-right"></i>
        Otwórz
      </button>
      <app-add-product-button (addProduct)="addToCart(element, $event)"></app-add-product-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
