<p class="top-toolbar">
  <mat-toolbar color="primary">
    <span style="cursor: pointer"
          (click)="goToProductList()">
      <i class="feather-globe"></i> Web Shop App
    </span>
    <span class="toolbar-spacer"></span>
    <button *ngIf="!isUserLogged"
            mat-raised-button
            color="accent"
            (click)="goToShoppingList()">
      <i class="feather-shopping-cart"></i>
      Koszyk: {{numberOfProductsInCart}} produktów
    </button>
    <span *ngIf="isUserLogged"
          [ngStyle]="{'font-size': '1rem', 'margin-right': '1rem'}">
      Zalogowano: {{username}}</span>
    <button *ngIf="isUserLogged"
            mat-icon-button [matMenuTriggerFor]="menu">
      <i class="feather-settings"></i>
    </button>
    <button *ngIf="!isUserLogged"
            mat-raised-button
            color="accent"
            (click)="goToLoginPage()">
      <i class="feather-log-in"></i>
      Logowanie
    </button>
    <button *ngIf="isUserLogged"
            mat-raised-button
            color="accent"
            (click)="logout()">
      <i class="feather-log-out"></i>
      Wyloguj
    </button>
  </mat-toolbar>
</p>
<div class="page-container">
  <router-outlet></router-outlet>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item
          (click)="goToUsersPage()">
    <i class="feather-users"></i>
    <span>Użytkownicy</span>
  </button>
  <button mat-menu-item
          (click)="goToOrdersPage()">
    <i class="feather-package"></i>
    <span>Zamówienia</span>
  </button>
</mat-menu>
