<div class="centering login-page">
  <div>
    <h1>Web Shop App</h1>
    <h1>Logowanie</h1>
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="onLogin()">
      <app-form-input [fieldRef]="form.get('username')"
                      label="Nazwa użytkownika"></app-form-input>
      <app-form-input [fieldRef]="form.get('password')"
                      label="Hasło"></app-form-input>

      <div class="buttons-container">
        <button mat-raised-button
                color="accent"
                type="submit">Zaloguj
        </button>
        <button mat-raised-button
                type="button"
                (click)="clearFormValues()">Wyczyść
        </button>
      </div>
    </form>
    <button mat-button color="primary"
            (click)="goToMainPage()">
      <mat-icon>home</mat-icon>
      Powrót na stronę główną
    </button>
  </div>
</div>
