<h1><i class="feather-shopping-cart"></i>Podsumowanie zakupów</h1>

<div class="details-button-container">
  <app-go-to-product-list></app-go-to-product-list>
  <button mat-raised-button
          color="accent"
          [disabled]="!products.length"
          (click)="goToPaymentPage()">
    <i class=" feather-shopping-bag"></i>
    Dostawa i płatność
  </button>
</div>


<h2 *ngIf="!products.length"
    class="no-products-info">Brak produktów na liście</h2>

<table *ngIf="products.length"
       mat-table [dataSource]="products"
       class="mat-elevation-z8">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Produkt</th>
    <td mat-cell *matCellDef="let element">
      {{element.product.name}}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="priceForOne">
    <th mat-header-cell *matHeaderCellDef>Cena za sztukę</th>
    <td mat-cell *matCellDef="let element">
      {{element.product.price | currency: 'PLN'}}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Ilość</th>
    <td mat-cell *matCellDef="let element">
      {{element.count}}
    </td>
    <td mat-footer-cell *matFooterCellDef>Razem do zapłaty:</td>
  </ng-container>

  <ng-container matColumnDef="priceForAll">
    <th mat-header-cell *matHeaderCellDef>Razem</th>
    <td mat-cell *matCellDef="let element">
      {{element.product.price * element.count | currency: 'PLN'}}
    </td>
    <td mat-footer-cell *matFooterCellDef> {{total | currency: 'PLN'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button
              color="warn"
              (click)="removeItem(element.product._id)">
        <i class="feather-x-square"></i>Usuń
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  <tr mat-footer-row *matFooterRowDef="columns"></tr>
</table>
