<div class="add-product-btn">
  <button class="add-btn"
          mat-button
          color="accent"
          [disabled]="addButtonDisabled()"
          (click)="addProduct()">
    Dodaj
  </button>
  <button mat-button
          class="icon-btn"
          type="button"
          color="primary"
          [disabled]="!(this.count > 1)"
          (click)="decrement()">
    <i class="feather-arrow-down-circle"></i>
  </button>
  <input matInput
         type="number"
         [(ngModel)]="count">
  <button mat-button
          class="icon-btn"
          type="button"
          color="primary"
          [disabled]="!(this.count < this.amountAvailable)"
          (click)="increment()">
    <i class="feather-arrow-up-circle"></i>
  </button>
</div>
