<mat-form-field *ngIf="formFieldSupported(); else elseBlock"
                class="form-field">
  <mat-label>
    {{label}}
    <span *ngIf="isFieldRequired()">*</span>
  </mat-label>
  <ng-container [ngSwitch]="inputType">
    <input *ngSwitchCase="InputType.TEXT"
           matInput
           type="text"
           [formControl]="$any(fieldRef)">
    <textarea *ngSwitchCase="InputType.TEXTAREA"
              matInput
              type="text"
              rows="10"
              [formControl]="$any(fieldRef)"></textarea>
    <input *ngSwitchCase="InputType.NUMBER"
           matInput
           type="number"
           [formControl]="$any(fieldRef)">
    <input *ngSwitchCase="InputType.PASSWORD"
           matInput
           type="password"
           [formControl]="$any(fieldRef)">
    <mat-select *ngSwitchCase="InputType.DROPDOWN"
                [formControl]="$any(fieldRef)"
                [multiple]="fieldConfig.multipleDropdown">
      <mat-select-trigger>
        {{getTriggerLabel()}}
      </mat-select-trigger>
      <mat-option *ngFor="let option of fieldConfig.options" [value]="option">
        {{fieldConfig.labelField ? option[fieldConfig.labelField] : option}}
      </mat-option>
    </mat-select>
  </ng-container>
  <mat-error *ngIf="fieldRef.invalid && (fieldRef.dirty || fieldRef.touched)">
    <app-field-errors [fieldRef]="fieldRef"></app-field-errors>
  </mat-error>
</mat-form-field>

<!-- components without mat-form-field support -->
<ng-template #elseBlock>
  <mat-checkbox *ngIf="inputType === InputType.CHECKBOX"
                [formControl]="$any(fieldRef)">{{label}}</mat-checkbox>
  <ng-container *ngIf="inputType === InputType.FILE">
    <app-file-input [formControl]="$any(fieldRef)"></app-file-input>
  </ng-container>
  <mat-error *ngIf="fieldRef.invalid && (fieldRef.dirty || fieldRef.touched)">
    <app-field-errors [fieldRef]="fieldRef"></app-field-errors>
  </mat-error>
</ng-template>
