.product-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .product-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;

    .mat-form-field-infix {
      width: 280px;
    }
  }

  td.mat-cell {
    border-bottom-width: 0;

    .mat-form-field-infix {
      padding: 0;
      border-top: 0;
    }
  }

  tbody > tr:first-child .mat-form-field-infix {
    padding-top: 1.5rem;
  }

  .add-item-btn {
    display: flex;
    justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 24px;
    }
  }
}
