<p class="top-toolbar">
  <mat-toolbar color="primary">
    <span>Web Shop App</span>
    <span class="toolbar-spacer"></span>
    <button *ngIf="!isUserLogged"
            mat-raised-button
            color="accent"
            (click)="goToLoginPage()">
      <i class="feather-shopping-cart"></i>
      Koszyk: {{numberOfProductsInCart}} produktów
    </button>
    <button *ngIf="!isUserLogged"
            mat-raised-button
            color="accent"
            (click)="goToLoginPage()">
      <i class="feather-log-in"></i>
      Logowanie
    </button>
    <button *ngIf="isUserLogged"
            mat-raised-button
            color="accent"
            (click)="logout()">
      <i class="feather-log-out"></i>
      Wyloguj
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
