@import "styles/index";
@import "assets/feather-icons/feather.css";
@import "styles/variables.style";
@import '~font-awesome/css/font-awesome.css';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

.primary-color {
  color: $primaryColor;
}

.justify {
  text-align: justify;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

[class^="feather-"], [class*=" feather-"] {
  font-size: 1.6rem;
}

// hide input number arrow buttons

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
