<app-go-to-product-list></app-go-to-product-list>

<mat-card *ngIf="product">
  <mat-card-content>
    <div class="details-title-section">
      <div class="img-container">
        <img src="assets/img/example.jpg"
             alt="placeholder">
        <div class="search-icon"
             (click)="showFullScreenImg()">
          <i class="feather-search"></i>
        </div>
        <span class="bottom-text">Kliknij aby powiększyć.</span>
      </div>
      <div class="details-title-container">
        <h1>{{product.name}}</h1>
        <h3>Cena za szt. <span class="bold">{{product.price | currency:'PLN'}}</span></h3>
        <app-add-product-button (addProduct)="addToCart(product, $event)"></app-add-product-button>
      </div>
    </div>
    <h2>Opis produktu</h2>
    <p *ngIf="product.description">{{product.description}}</p>
    <p *ngIf="!product.description">Produkt nie posiada opisu.</p>
    <h2>Detale</h2>

    <h2>Oceny i komentarze</h2>
  </mat-card-content>
</mat-card>
