.top-toolbar {
  button {
    margin-right: 20px;
  }
}

button i {
  margin-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 16px !important;

  [class^="feather-"], [class*=" feather-"] {
    font-size: 1em;
    margin-right: 20px;
  }
}

.no-products-info {
  text-align: center;
  margin-top: 4em;
}

.search-panel {
  margin-bottom: 30px;
  border-radius: 0 !important;

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > * {
      margin-right: 20px;
      flex: 1;
    }

    .mat-checkbox-layout {
      padding-top: 1em;
    }
  }
}

.page-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
